body {
    font-family: Arial;
    font-size: 20px;
    color: white;
}
body {
    background-image: url("images/background.jpg");
}
section {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 30px;
    text-align: center;
}
section img {
    width: 35%;
}
a:link, a:visited {
  opacity: 0;
  color: white;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: green;
  color: white;
}
