body {
    font-family: Arial;
    font-size: 20px;
    color: white;
}
body {
    background-image: url("images/background.jpg");
}
section {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 30px;
    text-align: center;
}
section img {
    width: 35%;
}
a {
  color: yellow;
}
.sidenav a {
    position: absolute;
    left: -150px;
    transition: 0.3s;
    padding: 15px;
    width: 150px:
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.sidenav a:hover {
    left: 0;
}
.Home {
    top: 20px;
    background-color: cornflowerblue;
}
.Contact {
    top: 80px;
    background-color: coral;
}
.Posts {
    top: 140px;
    background-color: darkseagreen;
}
